nav{
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;

}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}
svg{
    width: 72px;
    height: 52.66px;
    fill: #333;
}
ul a{
    text-decoration: none;
    color: #333;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
body {
    background-image: url('../Img/Image1_000.png');
    background-size: cover;
    height: 100vh;
}
.logo-container {
    display: flex;
    justify-content: flex-start;
}