body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0; 
}
nav{
    background-color: #333;
    padding: 10px 0;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}



/* Stijlen specifiek voor de planningstabel op helemaand.html */

/* Basisstijl voor de details-tabel */
.details-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.details-table th, .details-table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.details-table th {
    background-color: #f2f2f2;
}

/* Stijlen voor de rijen in de details-tabel */
.details-table tr.text-danger {
    background-color: #f8d7da; /* Lichtrood */
    color: #721c24; 
}

.details-table tr.text-warning {
    background-color: #fff3cd; /* Lichtgeel */
    color: #856404;
} 